# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
# Packaged builds are staged, not versioned
Builds/
# Local
Thumbs.db
desktop.ini
